 @using Assignment_1.Models

 @model Assignment_1.Models.Event

@{
    ViewBag.Title = "DetailView";
}

<h2>MapView</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd>@Model.EventName</dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerId)
        </dt>
        <dd>@Model.OwnerId</dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>@Model.Date</dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd>@Model.Latitude</dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd>@Model.Longitude</dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>@Model.Address</dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeatCount)
        </dt>
        <dd>@Model.SeatCount</dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxSeatCount)
        </dt>
        <dd>@Model.MaxSeatCount</dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>@Model.Price</dd>
       
    </dl>
    <dl class="dl-vertical">
       
        </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditEvent", new { id = Model.Id }) |
    @Html.ActionLink("Book", "Booking", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
